node_modules/
dist/
coverage/
*.log
.env

.env.prod

.env.dev

.idea/codeStyles/codeStyleConfig.xml

.idea/codeStyles/Project.xml

.idea/embtr_server.iml

.idea/modules.xml

.idea/prettier.xml

.idea/vcs.xml
image_upload_credentials.json
.idea
